    <br/>
    <div>

<h1>Chord Search</h1>
<br/>
<p>Please play the three notes of your triad chord on the piano. Only Major, Minor, Augmented and Diminished Chords.</p>
<br/>
<%= form_tag(chords_do_search_path) do %>
<%= text_field_tag :note1 %>
<%= text_field_tag :note2 %>
<%= text_field_tag :note3 %>

<%= submit_tag "Find Chord" %>
<% end %>
<br/>


<%= form_tag(chords_generate_path) do %>
    
    <p>If you dont have a chord to start with, here's a freebie: <%= submit_tag "Generate Chord" %></p>
<% end %>

<br/>

</div>   




        


     