<h1>Your chord</h1>
<br/>
<p>Your current chord is:</p>
<!-- <p><%= @your_chord %></p> -->
<br/>
<div class="chordbox">
		<button class="btn-sm btn-default"><span class="suggestion finger" data-chord="<%= @your_chord %>" id="<%= @your_chord %>"><%= @your_chord %></span></button>
		 	<br/>
		<%= audio_tag @your_chord.to_s + ".mp3", controls:"controls", class:"sm-audio hidden" %>
		<br/>
	</div>
<br/>
<p>A good following chord for <%= @your_chord %> would be: </p>
<br/>
<!--  <span class="suggestion finger" data-chord="<%= @suggestion %>"><%= link_to @suggestion %></span>   -->

<div class="chordbox">
		<button class="btn-sm btn-default"><span class="suggestion finger" data-chord="<%= @suggestion %>" id="<%= @suggestion %>"><%= @suggestion %></span></button>
		 	<br/>
		<%= audio_tag @suggestion.to_s + ".mp3", controls:"controls", class:"sm-audio hidden" %>
		<br/>
	</div>

 
<br/>
<p> <%= link_to "Add Chord", add_chord_path({chord: @suggestion}) %> <a href="javascript:location.reload();">New suggestion</a></p>
<br/>


<p>Your chord progression so far is: </p>
<br/>

<% session[:progression].each do |chord| %>
	<div class="chordbox">
		<button class="btn-sm btn-default"><span class="suggestion finger" data-chord="<%= chord %>" id="<%= chord %>"><%= chord %></span></button>
		 	
		<%= audio_tag chord+".mp3", controls:"controls", class:"sm-audio hidden" %>
		
	</div>
<% end %>



<br/>
<p>Remove Current chord from progression: <%= link_to "Remove", remove_chord_path %> </p>
<br/>
<p><%= link_to "Reset Progression", reset_path %>  <%= link_to "Save Progression", new_progression_path %></p>


<!-- <div id="content">
            <div id="content-inner">
                <div id="piano">
                    <h1 id="cool">Chord Dealer</h1>
                    <div class="help show" tabindex="1">
                        <div class="help-inner">
                            <div id="synth-settings"></div>
                            <div class="opts">
                                <p><strong>Controls:</strong></p>
                                <p>play using home row &amp; above &nbsp; /</p>
                                <p>change playable keys: “,” &amp; “.” &nbsp; /</p>
                                <p>shift keyboard: ← &amp; → <span id="shift"></span></p>
                            </div>
                            <div class="opts">
                                <p><strong>Extras:</strong></p>
                                <p class="toggle-color toggle hold">Color - c &nbsp; /</p>
                                <p class="toggle-demo toggle">Demo - m &nbsp; /</p>
                                <p class="toggle-animate toggle">Visual mode - 8 &nbsp; /</p>
                                <p class="toggle-looper">Looper - 9 &nbsp; /</p>
                                <p>Help - 0</p>
                            </div>
                        </div>
                    </div>
                    <div class="loop" tabindex="2">loop</div>
                </div>
            </div>
        </div>

  -->


<%# image_tag "fingerings/#{@suggestion}.jpg", class:"key-image" %>




