<%= render partial: 'piano' %>


<!-- <h1>Your chord</h1> -->
<br/>
<div class="well">
<!-- <p><%= @your_chord %></p> -->
<!-- <br/> -->
<div class="chordbox chord5">
	<p>Your current chord is:</p>
		<button type="button" class="btn btn-info finger"><span class="suggestion finger" data-chord="<%= @your_chord %>" id="<%= @your_chord %>"><%= @your_chord %></span></button>
		 	<br/>
		<%= audio_tag @your_chord.to_s + ".mp3", controls:"controls", class:"sm-audio hidden" %>
		<br/>
	</div>



<!--  <span class="suggestion finger" data-chord="<%= @suggestion %>"><%= link_to @suggestion %></span>   -->

<div class="chordbox chord4">
	<p>A good following chord for <%= @your_chord %> would be: </p>
		<button class="btn btn-info finger"><span class="suggestion finger" data-chord="<%= @suggestion %>" id="<%= @suggestion %>"><%= @suggestion %></span></button>
		 	<br/>
		<%= audio_tag @suggestion.to_s + ".mp3", controls:"controls", class:"sm-audio hidden" %>
		<br/>
	</div>
 
<br/>
<div><span> <%= link_to "Add Chord", add_chord_path({chord: @suggestion}), class:"btn btn-success" %></span><span> <a class="btn btn-warning" href="javascript:location.reload();">New suggestion</a></span></div>
<br/>


<p>Your chord progression so far is: </p>
<br/>

<div class="progression">
<button class="progress-play btn btn-default">Play</button>
	<% session[:progression].each do |chord| %>
		<div class="chordbox">
			<button class="btn btn-info finger"><span class="suggestion finger" data-chord="<%= chord %>" id="<%= chord %>"><%= chord %></span></button>
			<%= audio_tag chord+".mp3", controls:"controls", class:"sm-audio hidden prog" %>
		</div>
	<% end %>
</div>
<br/>
<p>Remove Current chord from progression: <%= link_to "X", remove_chord_path, class:"btn btn-danger btn-sm" %> </p>
<br/>
<div>
<span class="butt2"><%= link_to "Save Progression", new_progression_path, class:"btn btn-success" %></span>
<span class="butt"><%= link_to "Reset Progression", reset_path, class:"btn btn-warning" %> </span> 
</div>
</div>



 
<script>
$(function() {
    $( document ).tooltip({
    	items: '.suggestion',
    	content: function() {
    		var chord = $(this).data()['chord'];
    		return '<img src="/assets/fingerings/' + chord + '.jpg" alt="' + chord + '">';
    	}
    });
$(".chordbox").each(function(b) {
	$(this).find(".finger").on("click", function( e ) {
		e.preventDefault
		$(this).closest(".chordbox").find(".sm-audio").get(0).play();
		});
	});

	$(".progress-play").on("click", function( e ) {
		e.preventDefault

	$(".prog").each(function(delay_length){
		console.log('timeout', delay_length);
		setTimeout(play_audio, delay_length * 1000, this);
	});

	function play_audio(audio) {
		console.log("play", audio);
		audio.play();
	}
	});
});


	
</script>
