<%= form_for(@progression) do |f| %>
  <% if @progression.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@progression.errors.count, "error") %> prohibited this progression from being saved:</h2>

      <ul>
      <% @progression.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  

<!-- <p><%#= session[:progression] %></p> -->


<div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
