<div id="progression-index">
<h1>Chord Progression</h1>
<br/>
<div class="well">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @progression.name %>
</p>


<p>
  <strong>Description:</strong>
  <%= @progression.description %>
</p>

<div class="progression">
<br/>
<button class="progress-play btn btn-default">Play</button>
<br/>
		<ul class="list-inline">
<% @progression.ordered_chords.order(:order).each do |x|%>
		
		<li>
		<div class="chordbox">
		<button class="btn btn-info finger"><span class="suggestion finger" data-chord="<%= x.chord_name %>" id="<%= x.chord_name %>"><%= x.chord_name %></span></button>
		 	
		<%= audio_tag x.chord_name.to_s + ".mp3", controls:"controls", class:"sm-audio hidden prog" %>
		</div>
		</li>
<% end %>
		</ul>
</div>



<%= link_to 'Edit', edit_progression_path(@progression) %> |
<%= link_to 'Back', progressions_path %>
</div>
</div>	
<script>
$(function() {
    $( document ).tooltip({
    	items: '.suggestion',
    	content: function() {
    		var chord = $(this).data()['chord'];
    		return '<img src="/assets/fingerings/' + chord + '.jpg" alt="' + chord + '">';
    	}
    });
$(".chordbox").each(function(b) {
	$(this).find(".finger").on("click", function( e ) {
		e.preventDefault
		$(this).closest(".chordbox").find(".sm-audio").get(0).play();
		});
	});

	$(".progress").on("click", function( e ) {
		e.preventDefault

	$(".prog").each(function(delay_length){
		console.log('timeout', delay_length);
		setTimeout(play_audio, delay_length * 1000, this);
	});

	function play_audio(audio) {
		console.log("play", audio);
		audio.play();
	}
	});
});



</script>

