<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @progression.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @progression.description %>
</p>
<% @progression.ordered_chords.order(:order).each do |x|%>
		
		
		<span class="suggestion finger" data-chord="<%= x.chord_name %>"><%= x.chord_name %></span><br/>
		
	
<% end %>




<%= link_to 'Edit', edit_progression_path(@progression) %> |
<%= link_to 'Back', progressions_path %>
