<!DOCTYPE html>
<html>
<head>
  <title>Chord</title>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
</head>
<body>


<ul><li><%= link_to "Home", chords_search_path  %></li>
  
  <% if current_user %>
  <li>
    <%= link_to "Progressions", progressions_path  %>
   
  </li>
  <% end %>
  <li><%= render 'devise/menu/registration_items' %></li>
  <li><%= render 'devise/menu/login_items' %></li>
</ul>
	<div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
        <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
</div>
<%= yield %>
<%= javascript_include_tag '/piano.js'%>
</body>
</html>

